@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Sen', sans-serif;
}

#root {
  height: 100%
}

:root {
  --bg-color: #282c34;
  --text-color: #f7f7f9;
  --highlight-color: #8685EF;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  height: 4px;
  width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--highlight-color);
}

.customs-wrapper {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  font-family: 'Sen', sans-serif;
}


.cards-swapper {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  height: 30px;
  background-color: var(--bg-color);
  bottom: 14.5rem;
  padding: 2px 2px 2px 5px;
  border-radius: 5px;
  color: white;
}

.camera-handle{
  height: 100vh;
  width: 100vw;
}

.cards-wrapper {
  bottom: 8%;
  height: 14%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.cards-count {
  position: relative;
  background-color: white;
  width: auto;
  height: 20px;
  color: var(--bg-color);
  padding: 2px 2px 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  margin-left: 10px;
}

.flexbox {
  display: flex;
  gap: 13px;
  overflow-y: hidden;
  overflow-x: auto;
  padding:10px;
  margin-left: 3px;
  align-items: center;
  width: auto;
  height: 100%;
  max-width: 50%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  width: 140px;
  pointer-events: none;
  position: relative;
  height: 110px;
  border-radius: 6px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.cards-center-content { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.card-icon {
  transition: all 0.2s ease-in-out;
  width: 40px;
  fill: white;
  color: white;
}

.card-text {
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  margin: 0;
  padding: 5px;
}

.card-price{
  position: absolute;
  font-size: 13px;
  padding: 5px;
  margin: 0;
  top: 0;
  right: 0;
}

.card-applied{
  position: absolute;
  padding: 5px;
  top: 0;
  left: -10px;
}

.cardsHover {
  background-color: white;
  transform: scale(1.10);
  outline: solid var(--highlight-color) 2px;
}

.cardsHover .card-icon,
.cardsHover .card-text {
  color: var(--bg-color);
  fill: var(--bg-color);;
}

.yellow {
  background-color: var(--highlight-color);
}

.yellow .card-icon,
.yellow .card-text {
  fill: white;
  color: white;
}